:root {
    --rz-font-size: 16px;
    
    /* --rz-primary-color: #064663;
    --rz-secondary-color: #EBA02F; */

    --rz-primary-color: #3564fe;
    --rz-primary-color-700: #3564fe;
    --rz-secondary-color: #030b1d;

    --rz-border-radius-xxl: 80px;
    
    --rz-header-height: 85px;
    --rz-header-height-sticky: 70px;
    --rz-header-height-sm: 65px;
}